<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>805038800720-khcrp3315vvgms4e2nc15rt2c418a59i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.805038800720-khcrp3315vvgms4e2nc15rt2c418a59i</string>
	<key>API_KEY</key>
	<string>AIzaSyCRexAgUoIDS2hB9ArR2d1zHehC7hwf8eA</string>
	<key>GCM_SENDER_ID</key>
	<string>805038800720</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cruddemo</string>
	<key>PROJECT_ID</key>
	<string>crud-demo-c0884</string>
	<key>STORAGE_BUCKET</key>
	<string>crud-demo-c0884.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:805038800720:ios:620afa089851fb8d163655</string>
</dict>
</plist>